@import "./vars&mixins.scss";
@import "../../node_modules/sass-rem/rem";

.btn {
  outline: none;
  color: $lightPink;
  border-radius: 8px !important;
  height: 50px;
  font-size: 16px;
  background-color: $accentColor;
  font-weight: 500;
  &__more {
    background-color: transparent;
    color: $primaryColor;
    height: 32px;
    font-weight: 600;
  }
  &__buy {
    background-color: $accentColor;
    border-radius: 19px;
    width: 134px;
    height: 32px;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    &__more,
    &__buy {
      width: 100px;
      font-size: 12px !important;
    }
  }
  &__md {
    width: 144px;
    height: 40px;
  }

  &__bg {
    width: 257px;
    height: 60px;
  }

  &__circle {
    position: relative;
  }

  &__inner {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 101.5%;
    height: 102.5%;
    left: -2px;
  }
  &__inner-content {
    height: 100%;
    position: relative;
    @include flexbox(row, center, center);
    transition: color 0.45s 0.1s ease-out;
    overflow: hidden;
    z-index: 0;

    &::before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: block;
      text-align: center;
      transition: box-shadow 0.6s ease-out;
      z-index: -1;
      box-sizing: border-box;
    }
  }
}
