@import "../vars&mixins.scss";
@import "../../../node_modules/sass-rem/rem";

.btn {
  background: transparent;
  outline: none;
  &__md {
    width: rem(144px);
    height: rem(40px);
  }

  &__bg {
    width: rem(257px);
    height: rem(60px);
  }
}
