@import "../vars&mixins.scss";
@import "../../../node_modules/sass-rem/rem";

.btn {
  background: transparent;
  outline: none;

  //size
  &__md {
    width: rem(144px);
    height: rem(40px);
  }

  &__bg {
    width: rem(257px);
    height: rem(60px);
  }

  //type

  &__circle {
    position: relative;
  }

  &__inner {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 101.5%;
    height: 102.5%;
    left: rem(-2px);
  }
  &__inner-content {
    height: 100%;
    position: relative;
    @include flexbox(row, center, center);
    transition: color 0.45s 0.1s ease-out;
    overflow: hidden;
    z-index: 0;

    &::before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: block;
      text-align: center;
      transition: box-shadow 0.6s ease-out;
      z-index: -1;
      box-sizing: border-box;
    }
  }
}

/* &__call-to-action {
  background: transparent;
  position: relative;
  cursor: pointer;
}

&__call-to-action-inner {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 101.5%;
  height: 102.5%;
}

&__call-to-action-inner-content {
  height: 100%;
  position: relative;
  @include flexbox(row, center, center);
  transition: color 0.45s 0.1s ease-out;
  overflow: hidden;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    display: block;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
    box-sizing: border-box;
  }
}
&__call-to-action:focus {
  outline: none;
}
 */
