@import "../vars&mixins.scss";
@import "../../../node_modules/sass-rem/rem";

.menu {
  @include flexbox(row, center, center);
  &__item {
    @include flexbox(column, space-between, center);
    width: rem(219.5px);
    height: rem(120px);
    color: $mainColor;
    z-index: 3;
  }
  &__item:not(:first-child) {
    margin-left: rem(1px);
  }
  &__icon {
    font-size: rem(40px);
    margin-top: rem(27px);
  }

  &__icon-rapid-drop {
    font-size: rem(52px);
  }
  &__icon-stations {
    font-size: rem(56px);
    margin-top: rem(23px);
  }
  &__icon-reservoirs {
    font-size: rem(36px);
  }

  &__title {
    font-weight: 600;
    font-size: rem(13px);
    margin-bottom: rem(28px);
  }
}
