@import "./vars&mixins.scss";
@import "../../node_modules/sass-rem/rem";

/*normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f9fbff;
  font-size: rem(16px);
  line-height: 1;
  font-family: "Nunito";
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2 {
  font-family: "Montserrat";
  color: $primaryColor;
}

.container,
.container-md {
  max-width: rem(1400px);
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.container-md {
  overflow: visible;
  max-width: rem(1138px);
}

.page {
  &__title {
    margin-top: rem(88px);
    margin-bottom: rem(72px);
    line-height: rem(34px);
    font-size: rem(30px);
    height: rem(64px);

    font-weight: 900;
    color: $primaryColor;
    @include flexbox(column, space-between, center);
  }

  &__title-span {
    line-height: rem(24px);
    font-family: "Nunito";
    font-size: rem(20px);
    font-weight: 600;
  }
}

.section {
  /*  padding-top: rem(87px);
  padding-bottom: rem(128px); */
  position: relative;
  &::after {
    @include position(absolute, "", 0, 0, 0, auto, auto);
    height: 100%;
    width: rem(384px);
    z-index: -1;
  }
  &__body {
    margin-bottom: rem(127px);
  }
  /*   &::after {
    @include position(absolute, "", 0, 0, 0, 0, "");
  } */
}

.item {
  @include flexbox(column, center, center);
  &__title {
    line-height: rem(28px);
    font-size: rem(24px);
    font-weight: 700;
    color: #232c38;
  }
  &__text {
    line-height: rem(20px);
    font-weight: 300;
    color: $darkGrey;
  }
  &__price {
    font-size: rem(20px);
    line-height: rem(24px);
    font-weight: 600;
    color: $accentColor;
  }
}
