.giftset {
  &__section {
    &::after {
      background-color: $lightGrey;
      width: rem(1076px);
    }
    padding: 0 rem(100px);
  }

  &__slider {
    display: flex;
    overflow: hidden;
    padding-right: 88px;
  }
  &__img-container {
    z-index: 1;
    position: relative;
    @include flexbox(column, center, center);
  }

  &__decoration {
    @include position(absolute, "", 0, 0, 0, auto, auto);
    height: 100.5%;
    width: calc(256 / 475 * 100%);
    background-color: $lightGrey;
    z-index: -1;
  }

  &__img {
    z-index: 0;
    margin-top: rem(51px);
    width: 100%;
  }
  &__body {
    @include flexbox(row, "", space-between);
    flex: 1;
    width: 100%;
  }
  &__body-wrapper {
    min-width: 100%;
    border-top: rem(2.5px) solid $lightGrey;
    border-bottom: rem(1px) solid $lightGrey;
    background-color: #fff;
    display: flex;
  }

  &__item {
    align-items: flex-start;
    margin-left: calc(64 / 1032 * 100%);
  }
  @media (max-width: 1024px) {
    &__section {
      padding: calc(100 / 1024 * 100%);
    }
    &__decoration {
      display: none;
    }
    &__body-wrapper {
      flex-direction: column;
    }
    &__img {
      width: 55%;
    }
    &__item {
      align-items: center;
      margin: 0;
    }
  }
  @media (max-width: 767px) {
    &__slider {
      flex-direction: column;
      padding-right: 0;
    }
  }
}

.item-giftset {
  &__wrapper {
    margin: rem(30px) 0;
    margin-right: rem(20px);
  }
  &__text {
    max-width: rem(430px);
  }
  &__title,
  &__text {
    margin-top: rem(12px);
  }

  &__btn {
    margin-top: rem(46px);
    @include flexbox(row, space-between, center);
  }
  @media (max-width: 767px) {
    &__wrapper {
      margin-right: 0;
      padding: 0 calc(40 / 530 * 100%);
    }
    &__text {
      max-width: rem(530px);
    }
  }
}
.info-giftset {
  margin-top: rem(24px);
  @include flexbox(row, "", "");
  &__item {
    @include flexbox(row, space-between, center);
  }
  &__item:nth-child(2) {
    margin-left: rem(70px);
  }
  &__text {
    margin-left: rem(12px);
  }
  &__span {
    font-weight: 600;
  }
  @media (max-width: 767px) {
    justify-content: space-between;
    &__item {
      margin-left: 0 !important;
    }
  }
  @media (max-width: 540px) {
    &__img {
      display: block;
      margin: auto;
      height: rem(35px);
    }
  }
}

.btn-giftset {
  &__buy {
    width: rem(166px);
    height: rem(38px);
  }
  &__more {
    width: rem(200px);
    height: rem(38px);
    font-weight: 700;
  }
}

.togglers {
  min-width: rem(88px);

  border-top: rem(2px) solid $lightGrey;
  border-bottom: rem(1px) solid $lightGrey;
  z-index: 2;
  overflow: hidden;
  @include flexbox(column, space-between, center);
  position: relative;
  &__item,
  &__item-move {
    width: rem(88px);
    @include flexbox(column, center, center);
    cursor: pointer;
    flex: 1;
    width: 100%;

    background: #f5f8fc;
    box-shadow: inset rem(10px) rem(0px) rem(10px) rem(-10px)
      rgb(205 205 205 / 50%);
    font-family: "Montserrat";
  }

  &__amount {
    font-size: rem(30px);
    font-family: "Montserrat";
    font-weight: 900;
    color: $primaryColor;
    opacity: 0.3;
    line-height: rem(34px);
  }

  &__item-move {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 33.3333333%;
    overflow: overlay;
    color: $primaryColor;
    box-shadow: rem(1px) rem(0px) rem(10px) rgb(205 205 205 / 50%);
    background-color: #fff;
    border-left: rem(1px) solid #edf0f5;
  }
  &__item-move--smooth {
    transition: transform 0.3s ease-in-out;
  }
  &__item-move > &__amount {
    opacity: 1;
  }

  &__resize-observer {
    width: 5px;
    position: absolute;
    visibility: hidden;
    z-index: -100;
  }

  @media (max-width: 767px) {
    flex-direction: row;
    border-top: none;
    height: rem(60px);
    &__item-move,
    &__item {
      width: 33.33333%;
      height: 100%;
      box-shadow: inset rem(0) rem(10px) rem(10px) rem(-10px)
        rgb(205 205 205 / 50%);
    }
    &__item-move {
      border-left: none;
      box-shadow: rem(1px) rem(0px) rem(10px) rgb(205 205 205 / 50%);
    }
    &__resize-observer {
      width: 4px;
    }
    /*   &__item-move {
      transform: rotate(-90deg);
    } */
  }
  @media (max-width: 540px) {
    height: rem(40px);
    &__amount {
      font-size: rem(22px);
      line-height: rem(28px);
    }
  }
}
