.header {
  height: rem(768px);
  &__body {
    height: 100%;
    @include flexbox(row, "", "");
  }
}

.main {
  @include flexbox(row, "", "");
  &__logo {
    margin-left: rem(128px);
    margin-top: rem(72px);
  }
  flex: 1;
  position: relative;
  &__title {
    @include position(absolute, "", auto, rem(64px), rem(128px), auto, auto);
    font-size: rem(54px);
    line-height: rem(70px);
    font-weight: 900;
    z-index: 10;
    max-width: rem(484px);
  }

  &__title-accent {
    background-color: $accentColor;
    color: #f9fbff;
    padding: 0 rem(16px);
    width: 100%;
    display: inline-block;
  }

  &__title-span {
    padding-left: rem(16px);
  }

  &__left {
    flex: 1;
  }

  &__center {
    position: relative;

    height: 100%;
    flex: 1.82;
    &::before {
      background-color: #151d28;
      @include position(absolute, "", 0, 0, 0, 0, auto);
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    &::after {
      background: url("../assets/img/main-img.webp") no-repeat center
        center/cover;
      @include position(absolute, "", 0, 0, 0, 0, auto);
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  &__play-btn {
    width: rem(54px);
    z-index: 5;
    height: rem(54px);
    background-color: #fff;
    @include flexbox(row, center, center);
    border-radius: 100%;
    @include position(absolute, "", 0, 0, 0, 0, auto);
    box-shadow: 0 rem(4px) rem(24px) rgba(74, 74, 74, 0.5);
  }
}

.sidebar {
  padding-left: rem(48px);
  width: rem(327px);
  background-color: $primaryColor;
  @include flexbox(column, "", flex-start);
  &__cart {
    margin-top: rem(72px);
    position: relative;
  }
}

.cart {
  cursor: pointer;
  &__amount {
    height: rem(20px);
    width: rem(20px);
    background-color: $accentColor;
    border-radius: 100%;
    color: #fff;
    @include flexbox(row, center, center);
    font-weight: lighter;
    font-size: rem(14px);
    @include position(absolute, "", rem(-100%), 0, 0, rem(-100%), auto);
  }
}

.nav {
  margin-top: rem(133px);
  &__list {
    @include flexbox(column, space-between, flex-start);
  }
  &__item:not(:first-child) {
    margin-top: rem(25px);
  }
  &__link--active {
    font-weight: 600 !important;
  }
  &__link {
    font-weight: 300;
    line-height: rem(24px);
    color: $lightGrey;
  }
}
