.combo {
  &__section {
    &::after {
      background-color: $primaryColor;
      width: rem(326px);
      right: 0;
      left: auto;
    }
  }
  &__body {
    position: relative;
    padding: 0 rem(128px);
    padding-right: rem(128px);
    padding-left: rem(99px);
  }
  &__body-wrapper {
    @include flexbox(row, space-between, space-between);
  }

  &__resizeOberver {
    width: 2000px;
    position: absolute;
    visibility: hidden;
  }

  &__item {
    /*     aspect-ratio: 3/3; */
    min-width: 33.333%;
  }

  @media (max-width: 1028px) {
    &__item {
      min-width: 50% !important;
    }
    &__resizeOberver {
      width: 4px;
    }
  }

  @media (max-width: 650px) {
    &__header {
      flex: 1;
    }
    &__body {
      padding: 0 rem(80px);
      padding-right: calc(80 / 650 * 100%);
      padding-left: calc(51 / 650 * 100%);
    }
    &__resizeOberver {
      width: 3px;
    }
    &__item {
      min-width: 100% !important;
    }
  }

  @media (max-width: 540px) {
    &__body {
      padding: 0 rem(80px);
      padding-right: calc(100 / 650 * 100%);
      padding-left: calc(71 / 650 * 100%);
    }
  }

  // @media (max-width: 768px) {
  //   &__item * :not(.btn__buy) {
  //     font-size: 15px;
  //   }
  //   /*     &__item {
  //     min-width: 50% !important;
  //   }
  //   &__resizeOberver {
  //     width: 4px;
  //   } */
  // }
}

.item-combo {
  margin-left: rem(29px);
  height: 100%;
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: drop-shadow(rem(0px) rem(4px) rem(24px) rgba(205, 205, 205, 0.5));
  }
  @include flexbox(column, space-between, space-between);
  &__header {
    background-color: $lightGrey;
    width: 100%;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  &__body {
    background-color: #fff;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    padding: 0 rem(15px);
  }

  &__body-wrapper {
    /*   margin: max($numbers: rem(42px)); */
    max-width: rem(276px);
    height: 100%;
    margin: rem(42px) auto;
  }

  &__btn {
    width: 100%;
    margin-top: rem(32px);
    @include flexbox(row, space-between, space-between);
  }

  &__prices {
    @include flexbox(row, flex-start, center);
  }
  &__price-stroke {
    font-size: rem(14px);
    font-style: italic;
    color: $primaryColor;
    margin-left: rem(16px);
  }
  @media (max-width: 650px) {
    margin-left: calc(29 / 650 * 100%);
    flex-direction: row;
    &__body-wrapper {
      margin: auto;
      padding: rem(20px) 0;
    }
  }
  @media (max-width: 540px) {
    flex-direction: column;
    &__img {
      width: 65%;
      margin: auto;
      display: block;
    }
  }
}

.btn-combo {
  &__more {
    width: rem(88px);
    @media (max-width: 768px) {
      font-size: rem(10px) !important;
    }
  }
}
