.carousel {
  &__toggle-btn {
    @include position(absolute, "", 0, 0, auto, rem(66px), auto);
    @include flexbox(row, center, center);
    height: rem(48px);
    width: rem(48px);
    border-radius: rem(100%);
    cursor: pointer;
    z-index: 10;
    background-color: $accentColor;
  }

  &__toggle-btn:nth-child(1) {
    right: auto;
    left: rem(66px);
    transform: rotate(180deg);
  }
  &__toggle-btn--unactive {
    display: none;
  }

  &__item--unActive {
    opacity: 0.3;
  }
  &__content--smooth {
    transition: transform 0.5s ease-in-out !important ;
  }

}
