.features {
  &__body {
    /*     @include flexbox(row, space-between, space-between); */
    margin-top: rem(80px);
    /*     flex-wrap: wrap;
       display: grid;
    grid-gap: rem(60px); */
    /*     grid-template: repeat(2, 1fr) / repeat(auto-fit, minmax(rem(265px), 1fr)); */
    @include grid(0, rem(80px), rem(5px), 1, 1fr, auto-fit, rem(265px), 1fr);
  }
}

.item-feature {
  &__title {
    margin-top: rem(41.5px);
  }
  &__text {
    margin-top: rem(12px);
    text-align: center;
    max-width: rem(226px);
  }
}
