@import "../vars&mixins.scss";
@import "../../../node_modules/sass-rem/rem";

.main {
  overflow: hidden;
  min-height: 600px;
  height: rem(820px);
  color: $mainColor;
  position: relative;
  background: url("../assets/img/main-background.webp") no-repeat center
    center/cover;

  &__container {
    overflow: unset;
  }
  &__content {
    @include flexbox(column, space-between, center);
    /* margin-top: rem(50px); */
    height: 100%;
    padding-bottom: rem(27px);
  }

  &__mouse {
    position: absolute;
    bottom: rem(181px);
  }

  &__menu-item {
    background: rgba(0, 0, 0, 0.5);
  }
}

.mouse {
  &__cursor {
    animation: cursor 1.5s infinite ease;
  }

  @keyframes cursor {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(4px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}
